@model QuestPond.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div> 
        <form action="Submit" method="post">
            Customer Name <input name="CustomerName"
                                 type="text"
                                 value="@Model.CustomerName" />
            <br />
            @Html.ValidationMessageFor(x => x.CustomerName)

            <br />
            Customer Code <input name="CustomerCode"
                                 type="text"                      
                                 value="@Model.CustomerCode" />
            <br />
            @Html.ValidationMessageFor(x => x.CustomerCode)
            <br />
            <input id="Submit1" type="submit" value="submit" />
        </form>
        <br />
            @*@Html.ValidationSummary()*@
    </div>
</body>
</html>
